<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header">



<title>My Account</title>
</head>
<body>

	<div th:replace="common/header :: navbar"></div>



	<div class="container">
		<div class="row" style="margin-bottom: -100px;">

			<div class="col-md-8">
				<h2 class="section-headline">
					<span>User Account</span>
				</h2>

			</div>

			<div class="col-md-4">

				<img alt="logo" src="/image/download.jpg" class="img-responsive">

			</div>


		</div>

		<hr
			style="position: absolute; width: 90%; height: 6px; background-color: #eegf40; y-index: -1; margin-top: -80px" />


		<img alt="wood" src="image/wood.jpg" class="img-responsive"
			height="150px" width="100%">


		<div class="row" style="margin-top: 50px;">
			<div class="col-md-9 col-md-offset-3">

				<ul class="nav nav-tabs">
					<li class="nav-item"><a href="#tab-1" data-toggle="tab"
						class="nav-link"><span style="color: red;">Create new
								account </span></a></li>
					<li class="nav-item"><a href="#tab-2" data-toggle="tab"
						class="nav-link"><span style="color: red;"> Login </span></a></li>
					<li class="nav-item"><a href="#tab-3" data-toggle="tab"
						class="nav-link"><span style="color: red;"> Forget
								password </span></a></li>

				</ul>



				<div class="tab-content">

					<div class="tab-pane fade" id="tab-1">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">


								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">

									<form>

										<div class="form-group">
											<label for="username">*  user name</label> <input type="text"
												class="form-control" id="username" name="username"
												placeholder="Enter username">

										</div>


										<div class="form-group">
											<label for="email">Email address</label> <input
												type="email" class="form-control" id="email"
												 placeholder="Enter email">
											<small id="emailHelp" class="form-text text-muted">We'll
												never share your email with anyone else.</small>
										</div>
										
									<button class="btn btn-outline-info" type="submit">Create new Account</button>

									</form>

								</div>
							</div>

						</div>

					</div>
					
					
	<!-- 				tab 2 Login  -->
	
		<div class="tab-pane fade" id="tab-2">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">


								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">

									<form>

										<div class="form-group">
											<label for="username">*  user name</label> <input type="text"
												class="form-control" id="username" name="username"
												placeholder="Enter username">

										</div>


										<div class="form-group">
											<label for="password">Password</label> <input
												type="email" class="form-control" id="password" name="password"
												 placeholder="Enter password">
										
										</div>
										
									<button class="btn btn-outline-info" type="submit">Login</button>

									</form>

								</div>
							</div>

						</div>

					</div>
	
	
<!-- 	tab 3 forget password -->
	<div class="tab-pane fade" id="tab-3">
						<div class="panel-group">
							<div class="panel panel-default" style="border: none;">


								<div class="panel-body"
									style="background-color: #ededed; margin-top: 20px;">

									<form>

										<div class="form-group">
											<label for="recoveremail">email address</label> <input type="email"
												class="form-control" id="recoveremail" name="email"
												placeholder="Enter register email">
												
												<small>a confirmation email will be send to your email.</small>

										</div>


										
										
									<button class="btn btn-outline-info" type="submit">Submit</button>

									</form>

								</div>
							</div>

						</div>

					</div>




<!-- 
forget password ends here -->

				</div>


			</div>



		</div>



	</div>




	<div th:replace="common/header :: body-bottom-script"></div>


</body>
</html>